body {
  font-family: "Poppins", serif;
  background-color: #fde976;
  margin: 0 auto;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.container h2 {
  text-shadow: 2px 1px #706e6e85;
}

.img-responsive {
  max-width: 100%;
  display: block;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 60px;
}

section.secondary {
  background-color: #f8e786;
  text-align: center;
}

section.secondary h2 {
  color: black;
  text-shadow: none;
}

main {
  background-color: white;
}

main h2 {
  font-size: 50px;
  color: #f0ce0d;
  font-weight: 600;
}

.grid {
  display: grid;
  grid-gap: 30px;
}

.grid-2col {
  grid-template-columns: 1fr 1fr;
}

.grid-3col-1nar {
  grid-template-columns: 1fr 2fr 1fr;
}

.grid-3col-eq {
  grid-template-columns: 1fr 1fr 1fr;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../images/bcn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 100px 0;
}

header h1 {
  font-size: 75px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  text-shadow: 2px 1px #706e6e85;
}

header h2 {
  font-weight: 400;
  font-size: 39px;
  line-height: 1.5;
  margin: 0;
}

header h4 {
  font-weight: 900;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
}

header a {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5;
  color: black;
  background-color: #f0ce0d;
  padding: 8px 35px;
  display: inline-block;
  margin-top: 30px;
}

.card {
  background-color: white;
  max-width: 350px;
}

.card-body {
  padding: 10px 20px;
}

.card-footer {
  padding: 20px;
}
.card h3 {
  font-weight: 800;
  color: #f0ce0d;
  font-size: 30px;
  text-align: center;
  margin: 0;
}

.card h4 {
  font-weight: 700;
  color: #f0ce0d;
  font-size: 17px;
  line-height: 1;
  margin: 0;
  text-align: left;
}

.card p {
  line-height: 1.5;
  text-align: left;
}

.btn {
  display: block;
  background-color: #f0ce0d;
  color: #000000;
  text-transform: uppercase;
  padding: 10px 20px;
  text-decoration: none;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url("../images/sagrada.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 30%;
  padding: 50px 60px;
}

footer h3 {
  font-weight: 700;
  font-size: 25px;
  text-shadow: 2px 2px #706e6e;
}

footer p {
  font-weight: 500;
  font-size: 15px;
  color: #000000;
  padding: 0;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: #000000;
  font-weight: 500;
  text-decoration: underline;
}

footer a:hover {
  text-decoration: none;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 39px;
  }
  header h2 {
    font-size: 20px;
  }

  header h4 {
    font-size: 12px;
  }
  header a {
    margin-top: 15px;
    font-size: 14px;
  }
  .img-responsive {
    width: 50%;
  }
  .grid {
    grid-template-columns: 1fr;
  }

  section {
    padding: 30px;
  }

  footer {
    background-size: cover;
  }
}
